* {
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20em;
}

#value {
    color: black;
    font-size: 2em;
}

#btn-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 20em;
    margin-top: 1em;
}

.btn {
    font-size: 1em;
    background-color: white;
    border: none;
}